html {
    scroll-behavior: smooth;
}

body {
    font-family: 'MADE TOMMY', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #231E20;
    color: #F0F0F0;
}

h1,
h2 {
    text-align: center;
    padding: 10px 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 3rem;
    color: #F0F0F0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #231E20;
    position: relative;
}

.logo img {
    max-width: 120px;
}

.horizontal-line {
    width: 98%;
    height: 1px;
    background-color: #595556;
    margin-bottom: 50px;
    border: none;
}

.container h2 {
    font-size: 1.5rem;
}

p {
    margin: 10px 0;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    color: #595556;
    text-align: center;
    font-family: neue-haas-grotesk-display, sans-serif;
}

footer p {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #595556;
}